.dataForm {float: left; width: 50%;}
body {
    font-family: 'Dosis';font-size: 22px;
    background-color: #111111;
}

* {
  box-sizing: border-box;
}
.gradient.button {
  line-height: 0;
}
.gradient.button:active {
  border: 0.15em solid #0000;
  line-height: 0.25;
}

.gradient {
  max-width: 20em;
  display: flex;
  flex-direction: column;
  z-index: 2;
  color: #fff;
  font-size: 1.25rem;
  line-height: 1;
  border-style: none;
  outline: none;
  height: calc(1.6em + 0.5em);
  width: 100%;
  padding: 0.8em 1em;
  border: 0.25em solid transparent;
  background-image: linear-gradient(#000, #000),
    linear-gradient(120deg, #f09 0%, #0ff 50%, #9f0 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 1.8em;
  background-size: 200% 100%;
  transition: background-position 0.8s ease-out;

  &:hover {
    background-position: 100% 0;
  }
}
label {
  color: #fff;
  font-size: 2em;
}
